.summary-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem 1rem 0;
}

.card-box {
    background: linear-gradient(to right, rgba(128, 0, 128, 0.459), rgba(76, 0, 130, 0.459));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(100, 116, 139, 0.4);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    font-family: 'General Sans', sans-serif;
    font-weight: normal !important;
    color: #e2e8f0;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.card-box:hover {
    transform: translateY(-5px);
}

.card-box .icon {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #4fc3f7;
}

.card-box p {
    padding: 10px 5px;
}